@charset "UTF-8";
@font-face {
  font-family: "Nunito-Black";
  src: local("Nunito-Black");
  src: url("../fonts/Nunito-Black.ttf") format("ttf");
}

@font-face {
  font-weight: 800;
  font-family: "Nunito-ExtraBold";
  src: local("Nunito-ExtraBold");
  src: url("../fonts/Nunito-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Nunito-Bold";
  src: local("Nunito-Bold");
  src: url("../fonts/Nunito-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Nunito-BoldItalic";
  src: local("Nunito-BoldItalic");
  src: url("../fonts/Nunito-BoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Nunito-ExtraLight";
  src: local("Nunito-ExtraLight");
  src: url("../fonts/Nunito-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Nunito-Italic";
  src: local("Nunito-Italic");
  src: url("../fonts/Nunito-Italic.ttf") format("ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Nunito-Regular";
  src: local("Nunito-Regular");
  src: url("../fonts/Nunito-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: local("Nunito-SemiBold");
  src: url("../fonts/Nunito-SemiBold.ttf") format("ttf");
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

.header {
  position: relative;
  outline: none;
}

.header__logo {
  max-width: 8.125rem;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-btn__enter {
  margin-right: 1.875rem;
}

.header__inner {
  min-height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.main-nav {
  margin-right: -12px;
  outline: none;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  outline: none;
}

#menu__toggle {
  opacity: 0;
  outline: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #ce9e2b;
  border: none;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #ce9e2b;
  border: none;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  border: none;
  outline: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  right: 5px;
  top: 12px;
  width: 40px;
  height: 30px;
  color: #dedddd;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

.mein-menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mein-menu__li {
  position: relative;
}

.mein-menu__li:not(:last-child) {
  margin-right: 40px;
}

.mein-menu__item {
  font-size: 1.125rem;
  font-family: "Nunito-Regular", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  top: 12px;
  right: 0px;
  background-color: #bfbfbf;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  outline: none;
}

.menu__btn > span::before {
  content: "";
  width: 40px;
  top: 12px;
}

.menu__btn > span::after {
  content: "";
  width: 40px;
  top: -12px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 5% 80px 0;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  background: transparent;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 0px 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  outline: none;
}

.menu__item:first-child {
  padding-top: 15px;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
}

.logo__caption {
  max-width: 310px;
}

.header-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
  padding-top: 15px;
}

.header-top {
  position: relative;
  background-color: #181e20;
  padding: 10px 0;
}

.header-top__inner {
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.header-top .course-plus {
  color: green;
  padding-left: 10px;
}

.header-top .course-minus {
  color: red;
  padding-left: 10px;
}

.header-top .course-minus {
  padding-left: 10px;
}

.header-top li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8px;
  color: #bfbfbf;
}

.header-top li::after {
  content: "•";
  position: absolute;
  right: 20px;
  top: 0px;
  color: #bfbfbf;
}

@media (min-width: 992px) {
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1199px) {
  .mein-menu__li:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .mein-menu__box {
    display: none;
  }
  .hamburger-menu {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .header-btn {
    margin-right: 40px;
  }
  .header-btn {
    display: none;
  }
  .header-top {
    background-color: #181e20;
    padding: 5px 0;
  }
  .header-top .course-plus {
    color: green;
    padding-left: 10px;
  }
  .header-top .course-minus {
    padding-left: 10px;
  }
  .header-top li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 5px;
    color: #bfbfbf;
  }
  .header-top li::after {
    content: "•";
    position: absolute;
    right: 10px;
    top: 0px;
    color: #bfbfbf;
  }
}

@media (max-width: 767px) {
  .page-header__inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 1px;
  }
  .logo {
    display: none;
  }
  .menu__btn {
    top: -3px;
  }
  .hamburger-menu {
    top: 20px;
  }
}

.main-nav {
  margin-right: -12px;
  outline: none;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  outline: none;
}

#menu__toggle {
  opacity: 0;
  outline: none;
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  border: none;
  outline: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  right: 3px;
  top: 3px;
  width: 40px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  top: 10px;
  right: 0px;
  background-color: #fff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  outline: none;
}

.menu__btn > span::before {
  content: "";
  width: 35px;
  top: 9px;
}

.menu__btn > span::after {
  content: "";
  width: 35px;
  top: -9px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 5% 80px 0;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 18px 24px;
  color: #ffffff;
  font-family: "MyriadPro-Regular", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  outline: none;
}

.menu__item:hover {
  color: #deeaf5;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
}

@media (min-width: 1200px) {
  .menu__box {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    visibility: visible;
    padding: 0;
  }
  .main-nav {
    height: 100%;
    margin: 0;
  }
  .menu__btn {
    display: none;
  }
  .hamburger-menu {
    padding: 3px 0 7px 0;
  }
  .menu__item {
    position: relative;
  }
  .menu__item::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
  }
}

@media (max-width: 1199px) {
  .header-logo_2 {
    display: none;
  }
  .header-listing {
    display: none;
  }
  .hamburger-menu {
    padding: 8px 10px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
  }
  .menu__box {
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
  }
}

.logo__text p {
  font-family: "Oxygen", sans-serif;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo-img a img {
  height: 78px;
  width: 106px;
  -o-object-fit: none;
     object-fit: none;
}

@media (max-width: 737px) {
  .logo__text {
    display: none;
  }
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 0 8.75rem 0;
}

.intro-text {
  width: 55%;
}

.intro-text__title {
  text-transform: inherit;
  color: #ffffff;
}

.intro-text__subtitle {
  max-width: 31.5625rem;
  font-family: "Nunito-Regular", sans-serif;
  font-size: 1.375rem;
  line-height: 2.1875rem;
  color: #ffffff;
  margin-top: 0.75rem;
}

.intro-text__btn {
  max-width: 19.5rem;
  width: 100%;
  margin-top: 4.375rem;
}

.intro-img {
  width: 45%;
}

.footer {
  background: #085171;
  padding: 70px 0 35px 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.footer-footer {
  padding-right: 40px;
}

.footer-logo_2 {
  margin-right: 20%;
}

.footer-menu__li {
  padding-top: 7px;
}

.footer-menu__li a {
  font-family: "SegoeUI-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-menu__item {
  margin-top: 15px;
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.footer-icon-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.icon__img {
  width: 32px;
  height: 32px;
}

.footer-doc {
  padding-right: 40px;
}

.footer-doc__li {
  padding-top: 7px;
}

.footer-doc__li a {
  font-family: "SegoeUI-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .footer-btn-wrapp-mob {
    display: none;
  }
}

@media (max-width: 1199px) {
  .footer-logo_2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-doc {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-icon {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-icon-up {
    margin-bottom: 20px;
  }
  .footer-btn-wrapp {
    display: none;
  }
  .footer-icon-up {
    display: none;
  }
  .footer-btn-wrapp-mob {
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer-btn-wrapp {
    margin-top: 20px;
  }
  .icon__item {
    margin-right: 10px;
  }
}

.modal {
  position: fixed;
  display: none;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal__form-wrapp {
  width: 100%;
  height: 100%;
}

.modal__form {
  position: relative;
}

.modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-width: 830px;
  max-height: 905px;
  margin: 0 auto;
  z-index: 5;
  padding: 50px 70px;
  overflow-x: scroll;
  background: rgba(8, 81, 113, 0.53);
}

.modal-title {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #0a445e;
  text-align: center;
  padding: 0px 0 65px 0;
}

.modal-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-tel__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-tel__text {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding-right: 35px;
}

.modal-tel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 194px;
  height: 42px;
  background: #0f7c85;
  border-radius: 15px;
}

.modal-tel__link {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.modal-tel__img {
  margin-right: 10px;
}

.modal-subtitle {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  padding: 25px 0 0 0;
  color: #000000;
}

.modal-label__title {
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: left;
  padding: 15px 0 20px 0;
  color: #000000;
}

.modal-input {
  width: 100%;
  height: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
}

.checkbox__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.checkbox__text {
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  padding: 0 0 0 11px;
  color: #000000;
}

#modal-textarea {
  width: 100%;
}

.modal-textarea {
  width: 100%;
}

.modal-posttext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  padding-top: 30px;
  color: #0461b2;
}

.modal-hidden {
  position: absolute;
  top: -100px;
  right: -50px;
  font-size: 40px;
  color: #ffffff;
}

.modal-checkbox {
  background: #ffffff;
  border-radius: 5px;
}

.modal-btn-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.page-productcopy .modal {
  display: block;
}

@media (max-width: 991px) {
  .modal-tel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-tel-owner {
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .modal-inner {
    padding: 20px 30px;
  }
  .modal-title {
    padding: 60px 0 30px 0;
  }
  .modal-hidden {
    position: absolute;
    top: -80px;
    right: -20px;
    font-size: 40px;
    color: #ffffff;
  }
}

@media (max-width: 479px) {
  .modal-tel__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-tel__text {
    padding-bottom: 20px;
  }
  .checkbox {
    padding-right: 10px;
  }
  .modal-hidden {
    position: absolute;
    top: -70px;
    right: -10px;
    font-size: 40px;
    color: #ffffff;
  }
}

@media (max-width: 379px) {
  .modal-inner {
    padding: 10px 15px;
  }
  .checkbox__text {
    padding-left: 5px;
  }
  .checkbox__wrapp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.btn-main {
  background-color: transparent;
  cursor: pointer;
}

.btn-main:hover .btn__text {
  font-family: "Nunito-Bold", sans-serif;
  font-weight: 700;
}

.btn-main:active .btn__text {
  font-family: "Nunito-Bold", sans-serif;
}

.btn-main:focus .btn__text {
  font-family: "Nunito-Bold", sans-serif;
}

.btn-main .btn__body-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-main .btn__icon {
  margin-right: 1.25rem;
}

.btn-main .btn__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-main .btn__text {
  font-family: "Nunito-Regular", sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #ffffff;
}

.btn-registration {
  width: 10.625rem;
}

.btn-enter {
  width: 7.5rem;
}

.btn-red {
  display: block;
  height: 4.5625rem;
  width: 100%;
  background-color: #C1274F;
  -webkit-box-shadow: 0px -1px 34px 5px rgba(255, 46, 99, 0.27);
          box-shadow: 0px -1px 34px 5px rgba(255, 46, 99, 0.27);
  border-radius: 5px;
  cursor: pointer;
}

.btn-red:hover .btn__body-wrapp {
  background-color: #971e3e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-red .btn__body-wrapp {
  height: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF2E63), color-stop(46.88%, rgba(247, 33, 87, 0.96875)), to(rgba(255, 46, 99, 0)));
  background-image: linear-gradient(180deg, #FF2E63 0%, rgba(247, 33, 87, 0.96875) 46.88%, rgba(255, 46, 99, 0) 100%);
}

.btn-red .btn__icon {
  margin-right: 1.25rem;
}

.btn-red .btn__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-red .btn__text {
  font-family: "Nunito-Bold", sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #ffffff;
}

.users {
  margin-bottom: 8.75rem;
}

.users__title {
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5.625rem;
}

.users__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 5px;
  padding-bottom: 2.5rem;
}

.users-card {
  background-color: #3C4070;
}

.users-card__inner {
  padding: 1.9375rem 1.3125rem 0 1.3125rem;
}

.users-card__title {
  font-family: "Nunito-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.3125rem;
}

.users-card__text {
  font-family: "Nunito-Regular", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.users-card__img img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 18.125rem;
  margin-bottom: -5.625rem;
}

.overview {
  margin-bottom: 8.75rem;
}

.overview__title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 4.375rem;
}

.overview__video {
  height: 47.6875rem;
}

.sense__inner {
  display: block;
  max-width: 100%;
}

.sense-card {
  width: 33.3%;
  float: left;
  background-color: #3C4070;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.14);
  border-radius: 7px;
}

.sense-card__width {
  width: 33.3%;
}

body {
  background-color: #202245;
}

h1 {
  font-size: 3rem;
  font-family: "Nunito-ExtraBold", sans-serif;
  line-height: 3.4375rem;
  font-weight: 800;
}

h2 {
  font-size: 2.25rem;
  font-weight: "Nunito-Bold", sans-serif;
  line-height: 2.25rem;
}

.container {
  width: calc(100% - 60px);
  max-width: 82.375rem;
  margin: 0 auto;
}

.text-red {
  color: #FF2E63;
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
}
