.header {
  position: relative;
  outline: none;
  // .header__logo
&__logo{
  max-width: rem-calc(130);
}
&-btn{
  display: flex;
  &__enter{
margin-right: rem-calc(30);
  }
}


}
.header__inner {
  min-height: rem-calc(102);
  display: flex;
  justify-content: space-between;
  align-items: center;

  outline: none;
  &.center{
    justify-content:center; 
  }

}
.main-nav {
  margin-right: -12px;
  outline: none;
}
.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;

  outline: none;
}
// #menu__toggle {
//   opacity: 0;
// }

#menu__toggle {
  opacity: 0;
  outline: none;
}
#menu__toggle:checked ~ .menu__btn  {
  padding: rem-calc(7);
  border: 4px solid #ffffff;
  border-radius: 50%;
  top: 0px;

}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background-color: transparent;
  
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  border: none;
  height: 5px;
    top: 12px;
    right: -1px;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  border: none;
  height: 5px;
    top: 12px;
    right: -1px;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  border: none;
  outline: none;
  background-color: $Ñ-bac;
  & .menu__box--cloud{
    position: absolute;
    left: 0;
    top: rem-calc(20);
    width: rem-calc(155);
    height:rem-calc(71);

  }
  & .menu__box--img{
    position: absolute;
   right: 0;
   top: 85vh;
    width: rem-calc(195);
    height:rem-calc(195);
  }
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 5px;
  top: 12px;
  width: 35px;
  height: 35px;
  color: #dedddd;
  cursor: pointer;
  z-index: 100;
  outline: none;
 
}
.mein-menu {
  // .mein-menu__box

  &__box {
    display: flex;
  }

  // .mein-menu__li

  &__li {
    position: relative;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }

  // .mein-menu__item

  &__item {
    font-size: rem-calc(18);
    font-family: $f-n_400;
    color: rgb(255, 255, 255);
    text-transform: inherit;
    text-align: center;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  top: 13px;
  right: 0px;
  background-color:#ffffff;
  transition-duration: 0.25s;
  outline: none;
}
.menu__btn > span::before {
  content: "";
  width: 30px;

  top: 10px;
}
.menu__btn > span::after {
  content: "";
  width: 30px;

  top: -10px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 5% 80px 0;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 0px 5%;
  color: #fff;
  font-size: rem-calc(27);
  font-family: $f-n_400;
  color: rgb(255, 255, 255);
  text-transform: inherit;
  text-align: center;
  line-height: rem-calc(37);

  text-decoration: none;
  transition-duration: 0.25s;
  outline: none;
  &:first-child {
    padding-top: 40px;
  }
}


.main-nav__item--active > .main-nav__link {

}
.sticky .main-nav__link {

}






@media (min-width: 480px) {
}
@media (min-width: 768px) {
 
}
@media (min-width: 992px) {
  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1686px) {
}

@media (max-width: 1199px) {
  .mein-menu__li:not(:last-child) {
    margin-right: 40px;
  }
}
@media (max-width: 991px) {
  .mein-menu__box {
    display: none;
  }
  .header__inner{
    justify-content: flex-start;
  }
  .hamburger-menu {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .header-btn {
    margin-right: 40px;
  }

  .header__logo{
    display: none;
  }
  .mein-menu__box{
    display: none;
  }
  
}
@media (max-width: 767px) {
  .page-header__inner {
    justify-content: flex-end;
    height: 1px;
  }

  .menu__btn {
    top: -3px;
  }
  .hamburger-menu{
    top: 20px;
  }
  .header-btn__enter{
    margin-right:rem-calc(15) ;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after{
    width: 20px;
  }
  #menu__toggle:checked ~ .menu__btn{
    width: 30px;
    height: 30px;
    top: -15px;

  }
  #menu__toggle:checked ~ .menu__btn > span{
top: 10px;
right: 3px;
  }
}
@media (max-width: 479px) {
}
