$с-bac:#202245;
$с-red:#FF2E63;

$f-n_700: "Nunito-Bold", sans-serif;
$f-n_800: "Nunito-ExtraBold", sans-serif;
body {
   background-color: $с-bac;
}
h1 {
font-size: rem-calc(48);
font-family: $f-n_800;
line-height: rem-calc(55);
font-weight: 800;
}

h2 {
  font-size: rem-calc(36);
  font-weight:$f-n_700;
  line-height: rem-calc(36);
  
}
.container{
  width: calc(100% - 60px);
  max-width: rem-calc(1318);
  margin: 0 auto;
}
.text-red{
  color: $с-red;
}
.text-bold{
  font-weight: 700;
}


@media (min-width: 480px) {
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
}
@media (min-width: 1100px) {
}
@media (min-width: 1240px) {
}

@media (min-width: 1686px) {
}
@media (min-width: 1786px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .container{
    width: calc(100% - 30px);
    margin: 0 auto;
  }
}
@media (max-width: 579px) {
}
@media (max-width: 479px) {
}
@media (max-width: 379px) {
}
